$primary: #f1f1f1;
$secondary: #3565a9;
$accent: #f74908;

$lg: 16px;
$md: 8px;
$sm: 4px;

$bg-color: scale-color($primary,$lightness:-85%);
$bg-color__input: scale-color($bg-color,$lightness:-20%,$alpha:30%);
$shadow--inner: scale-color($bg-color,$lightness:-50%);

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #{$bg-color};
		--bg-color__section: #1b1c1c;
		--bg-color__section--gradient: linear-gradient(to right, 
				var(--bg-color__section), 60%, 
				var(--bg-color));
		--link-color: #{scale-color($secondary,$lightness:25%)};
		--blend-mode: multiply;
		--text-color: #{scale-color($secondary,$lightness:85%)};
		--text-color--dark: #{scale-color($secondary,$lightness:90%)};
		--bg-color--transparent: rgba(36, 37, 38, 0.6);
		$bg-color__caption: scale-color($bg-color,$lightness:5%,$saturation:5%);
		--bg-color__caption: #{$bg-color__caption};
		--bg-color__caption--transparent: #{change-color($bg-color,
			$alpha:0.6)};
		--text-color--accent: #f7490c;
		--border-color: #000;
		--shadow__main: #{scale-color($bg-color,$lightness:-35%)};
		--shadow__bounce: #{scale-color($bg-color,$lightness:5%)};
		--bg-color__input: #{$bg-color__input};
	}

	a .icon__logo {
		fill: #ccc;
	}

	input[type="text"],input[type="email"],textarea,textarea:focus {
		background-color: var(--bg-color__input);
		color: var(--text-color);
	}

	footer {
		--bg-color: #0f0f10;
		--link-color: #eef1f8;
		--text-color: #a2a8a7;
	}

	.card--shop {
		--link-color: var(--text-color);
	}

	figure,
	.card-header,
	.card-footer {
		--bg-color: var(--bg-color__caption);
	}
	
	.blog-post {
		box-shadow: $sm $sm $md var(--shadow__main);
		
		.card-header {
			box-shadow: 0 $sm/2 $sm var(--shadow__main);
		}
		
		.card-footer {
			box-shadow: 0 (-$sm/2) $sm var(--shadow__main);
		}
	}

	.navbar-toggler,
	.navbar-toggler[aria-expanded="true"] {
		--bg-color: #1b1c1c;
		--text-color: #727873;
		--bg-color__navbar-toggler--gradient: 
			linear-gradient(to bottom, var(--bg-color), #242526);
	}
	
	.bypostauthor {
		--bg-color__caption: var(--bg-color__section);
		--bg-color: #141516;
		--text-color: #dbe4ee;
	}
}