

$primary: #f1f1f1;
$secondary: #3565a9;
$accent: #f74908;

$lg: 16px;
$md: 8px;
$sm: 4px;

:root {
	--bg-color: #{$primary};
	--bg-color__section: #{scale-color($secondary,$lightness:85%)};
	--bg-color__section--gradient: linear-gradient(to right, 
			var(--bg-color__section), 60%, 
			var(--bg-color));
	--link-color: #3c6cb4;
	--blend-mode: multiply;
	--text-color: #1f2622;
	--text-color--dark: #0f1612;
	--border-color: #eef1f8;
	--bg-color__card: #{scale-color($primary,$lightness:-15%)};
	--bg-color__caption: #{scale-color(mix($primary,$secondary),$lightness:75%)};
	--bg-color--transparent: rgba(255, 255, 255, 0.4);
	--bg-color__caption--transparent: rgba(238, 238, 238, 0.6);
	--text-color--accent: #f7490c;
	--text-color--hover: #{scale-color($accent,$lightness:20%)};
	--shadow__main: #ccc;
	--shadow__bounce: #fff;
}

/*==============================================================================
  Blocks
  ============================================================================*/

footer {
	$desat: scale-color($secondary,$saturation:-50%);
	--bg-color: #{scale-color($desat,$lightness:-50%)};
	--link-color: #{scale-color($desat,$lightness:80%)};
	--text-color: #{scale-color($desat,$lightness:30%)};
}

/*==============================================================================
  Elements
	============================================================================*/

a {
	&:hover, &:focus {
		--link-color: var(--text-color--hover);
		
		/* svg brand icon */
		.icon__logo {
			fill: var(--text-color--hover);
		}
	}
}

input[type="text"] {
	border-radius:$sm;
	border-color: var(--bg-color);
	box-shadow:$sm $sm $md var(--shadow__main) inset;
}

.btn-primary {
	box-shadow: $sm $sm $md var(--shadow__main),
		(-$sm) (-$sm) $md var(--shadow__bounce);
	background-color:#{$secondary};
	border-width: 0;
	
	&:hover, &:focus {
		background-color: var(--text-color--hover);
	}
	/* overwrite bootstrap */
	&:active, &:not(:disabled):not(.disabled):active {
		box-shadow: 
			$sm $sm $md #{scale-color($secondary,$lightness:-20%)} inset,
			(-$sm) (-$sm) $md #{scale-color($secondary,$lightness:20%)} inset;
		background-color:#{$secondary};
	}
}

.card--shop {
	--link-color: var(--text-color);
}

.card--shop .card-footer:last-child {
	--bg-color: inherit;
}

figure,
.card-header,
.card-footer {
	--bg-color: var(--bg-color__caption);
}

.navbar-toggler,
.navbar-toggler[aria-expanded="true"] {
	--bg-color: #eef1f8;
	--text-color: #727873;
	--bg-color__navbar-toggler--gradient: 
		linear-gradient(to bottom, var(--bg-color), #fff);
}

.bypostauthor {
	--bg-color__caption: var(--bg-color__section);
	--bg-color: #eee;
	--text-color: #0f1612;
}